div.main {
    max-width: 33%;
    height: 100%;
    border: 3px solid black;
    padding: 50px;
    margin: auto;
    text-align: center;
}
button.btn {
    margin-top: 10px;
    width: 30%;
    height: 100%;
}
.first {
    float : left
}

.second {
    float : right
}

ul {
    width: 100%;
    list-style-type: none;
    text-align: left;
}

li {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.question{
    background-color: #f2c9ce;
    border: 3px solid black;
}
.option{
    background-color: #b5ae96;
}
